.App {
    text-align: center;
}

/*#root{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 15px 70px;
    box-shadow: 0px 3px 6px #00000029;
}

button {
    border-radius: 15px;
    /*max-width: 100%;*/
    width: 100px;
    min-width: fit-content;
}

.colored-text {
    color: #84B6A3;
}

.welcome-page-wrap-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.welcome-page-wrap-img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.welcome-page-img1 {
    height: 90%;
}

.welcome-page-greeting-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #669885;
}

.welcome-page-services-offered-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page-wrap-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.welcome-page-img2 {
    height: 90%;
}

.welcome-page-coming-soon-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6F61;
}

.welcome-page-contacts-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #669885;
}

.loginRegistrationForm-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.login-registration-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}



.green {
    background-color: #669885;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-buttons-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author_avatar {
    width: 100%;
    max-width: 40px;
    min-width: 15px;
    border-radius: 20px;
}

.main-body {
    height: 90vh;
}

/*.Lost_form .form_main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/**.Lost_form .form_main {*/
/*    width: fit-content;*/
/*}*/

.post-home{
    padding: 8px;
    box-shadow: 0px 3px 6px #00000029;
}

.post-home-service-image-wrap{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-home-service-image-wrap>img{
    max-height: 200px;
    max-width: 100%;
}

.addNew-content{
    padding: 10px;
    box-shadow: 0px 3px 6px #00000029;
}

.favorite-star>span{
    user-select: none;
    color: #669885;
    font-size: 30px;
    cursor: pointer;
}

.post-lost-found{
    padding: 10px;
    box-shadow: 0px 3px 6px #00000029
}

.post-lost-found-image-wrap{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-lost-found-image{
    max-height: 300px;
    max-width: 100%;
}

.adverts-image-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adverts-image{
    max-width: 100%;
}

.form_main{
    padding: 10px;
    box-shadow: 0px 3px 6px #00000029
}
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.lost-found-labels>div>label{
    width: 30%;
}

.lost-found-labels>div>textarea{
    width: 65%;
}

.lost-found-labels>div>select{
    width: 65%;
}
.lost-found-labels>div>input{
    width: 65%;
}