.App{
  text-align: center;
}

#root{
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px 15px 70px;
}

.pawfessional{
  color: #84B6A3;
}

.green{
  background-color: #669885;
}