.App {
    text-align: center;
}

/*#root{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 15px 70px;
    box-shadow: 0px 3px 6px #00000029;
}

button{
    border-radius: 15px;
}

.pawfessional {
    color: #84B6A3;
}

.welcome-page-wrap-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-page-wrap-img1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.welcome-page-img1{
    height: 90%;
}

.welcome-page-greeting-line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #669885;
}

.welcome-page-services-offered-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page-wrap-img2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.welcome-page-img2{
    height: 90%;
}

.welcome-page-coming-soon-line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6F61;
}

.welcome-page-contacts-line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #669885;
}

.loginRegistrationForm-fields {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #669885;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.author_avatar {
    height: 35px;
}

.main-body{
    height: 90vh;
}

.Lost_form .form_main {
    display: flex;
    flex-direction: column;
}

*.Lost_form .form_main{
    width: fit-content;
}

.post-home{
    box-shadow: 0px 3px 6px #00000029;
}

.post-image>img{
    max-height: 200px;
}